.border-primary {
    border: 2px solid;
}

#alice {
  animation: aliceTumbling infinite 3s linear;
  color: #431236;
  width: 25%;
  position: absolute;
  top: 50%; left: 50%;
  transform-origin: 0 0;
  transform: rotate(0) translate3D(-50%, -50%, 0);
  backface-visibility: hidden;
  will-change: transform, color;
}

path {
  fill: currentColor;
}

@keyframes aliceTumbling {
  0% {
    color: #000;
    transform: rotate(0) translate3D(-50%, -50%, 0);
  }
  30% {
    color: #431236;
  }
  100% {
    color: #000;
    transform: rotate(360deg) translate3D(-50%, -50%, 0);
  }
}

/* This stuff might be interesting. */
.tunnel {
  animation: tunnelFly 1s linear infinite;
  background:
    url("/assets/bg-tunnel-border-left.svg") repeat-y,
    url("/assets/bg-tunnel-border-right.svg") repeat-y 100% 100%,
    url("/assets/bg_tunnel-specks.png"),
    #6c373f;
  margin: 0 auto;
  height: calc(100% + 300px);
  width: 60%;
  min-width: 400px;
  backface-visibility: hidden;
  will-change: transform;
}

@keyframes tunnelFly {
  100% { transform: translate3D(0, -300px, 0); }
}

.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 10px;
}
