.demo {
  width: 800px;
  height: 300px;
  border: 2px solid blue;
  position: relative;
  padding: 15px;
  .busy-demo {
    // position: relative;
    width: 80%;
    height: 80%;
    border: 2px solid red;
    margin: auto;
  }
}
