<p>
  <svg width="200px" height="200px">
    <path d="M10 10 L30 50 H100 V30 h30 v-20 Z" stroke="green" fill="transparent" />

    <circle cx="10" cy="10" r="2" fill="red" />
    <circle cx="30" cy="50" r="2" fill="red" />
    <circle cx="100" cy="50" r="2" fill="red" />
    <circle cx="100" cy="30" r="2" fill="red" />

    <path d="M30 90 C 35 200, 90 150, 50 100 S 90 150,110 80 Q 180 100,150 150 T 170 180" fill="transparent" stroke="black"
      stroke-width="3" />
  </svg>

  <svg width="300px" height="300px">
    <path d="M10 315
           L 110 215
           A 30 50 0 0 1 162.55 162.45
           L 172.55 152.45
           A 30 50 -45 0 1 215.1 109.9
           L 315 10"
      stroke="black" fill="green" stroke-width="2" fill-opacity="0.5" />
  </svg>
</p>