<button mat-fab color="primary" [matMenuTriggerFor]="webTech">Web</button>

<mat-menu #webTech="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="animation">Animation</button>
  <button mat-menu-item [matMenuTriggerFor]="svg">Svg</button>
  <button mat-menu-item [matMenuTriggerFor]="math">Math</button>
</mat-menu>

<mat-menu #animation="matMenu">
  <button mat-menu-item routerLink="/animation-css3">CSS3</button>
  <button mat-menu-item routerLink="/animation-ng">Angular</button>
</mat-menu>

<mat-menu #svg="matMenu">
  <button mat-menu-item routerLink="/svg-demo1">demo1</button>
  <button mat-menu-item routerLink="/embedded-svg">Embedded SVG</button>
</mat-menu>

<mat-menu #math="matMenu">
  <button mat-menu-item routerLink="/geometry">Geometry</button>
</mat-menu>
