<ul>
  <li nz-submenu>
    <span><i class="anticon anticon-profile"></i>Web</span>
    <ul>
      <li>
        <span>Animation</span>
        <ul>
          <li routerLink="/animation-css3">CSS3</li>
          <li routerLink="/animation-ng">Angular</li>
        </ul>
      </li>
      <li>
        <span>Svg</span>
        <ul>
          <li routerLink="/svg-demo1">demo1</li>
          <li routerLink="/embedded-svg">Embedded SVG</li>
        </ul>
      </li>

      <li>
        <span>Math</span>
        <ul>
          <li routerLink="/geometry">Geometry</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
